// component css goes here

.row.template2-theme {
    margin:auto; 
   
     font-size: inherit !important;
     font-family: 'Roboto'  !important;
     padding:5px;
}


.centered{
    margin: auto;
    width: 100px;
    background: #fff;
    border-radius: 50%;
    padding: 20px 10px 10px 10px;
    height: 100px;
    text-align: center;
  
    vertical-align: middle;
}

.rightsideDiv {
margin-left: 5px;
font-size: inherit;
font-family:inherit;
}


.leftsideDiv .cardHeader{
    margin: auto!important;
    width: 100%!important;
    margin-left: 60px!important;
    color:#fff!important;
    vertical-align: middle!important;
}
.mat-card-header{
    background: inherit !important;
    color:inherit!important;
}
.transparent-card {
   background: inherit !important;
   color:inherit!important;
}

.inline-layout{
	display: inline-block !important;
	width: 100%;
  }
  .action {
    cursor:pointer;
    text-align: right;
   line-height:1.5 !important;
   padding:5px 5px 0 0; 
    .material-icons{
      font-weight: 600;
      
    }
    }

    .leftsideDiv .card-header{
        
          border-bottom: 2px solid  #fff;
          background: inherit;
          font-weight: 600;
       
     
        margin: inherit;
        padding: 0;
        }

        .rightsideDiv .card-header{
            margin: auto;
            width: 100%;
            margin-left: 60px;
           
            vertical-align: middle;
            margin: inherit;
              border-bottom: 2px solid  #000 !important;
              background: inherit;
              padding: 0;
              font-weight: 600;
          
            
            }
.A4 {
                background: white;
               
               
                margin: 0 auto;
                padding: 10px 25px;
                margin-bottom: 0.5cm;
                box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
               
                box-sizing: border-box;
                font-size: inherit;
              }
            
    #A4Area {
        background: white;
        width: 21cm;
        height: 29.7cm;
      
        margin: 0 auto;
        padding: 10px 25px;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        overflow-y: scroll;
        box-sizing: border-box;
        font-size: inherit;
       
    }
