<!--component html goes here -->
<!--component html goes here -->
<div *ngIf="showContent">
<div [@listAnimation]="skills.length" class="row" *ngIf="skills" >
<div  *ngFor="let skill of skills; let skillIndex = index">
        
        
        <div  [@stateAnimation]="skill.isEdit" class="col" *ngIf="!skill.isEdit" >
    <my-wrapper  (onAction)="onAction($event,skill);" [config]="skill">
         <!-- Add chart -->
            <div >
        <donut-chart [skill]="skill" [chartId]="skillIndex" [color]="pageSettings.colorTheme?pageSettings.colorTheme:chartColor"></donut-chart>
        </div>
          </my-wrapper>
        </div>
        </div >
        
        </div>

       
          <div  *ngFor="let skill of skills; let skillIndex = index">
                  
        <div [@stateAnimation]="skill.isEdit" *ngIf="skill.isEdit">
          <div  style="width:100%;">
              <mat-form-field  style="width:100%;">
                      <input [autoFocus]=true matInput placeholder="Skill Name"  [(ngModel)]="skill.name">
                    </mat-form-field>
                  </div> 
                  <div>
                    <mat-form-field  style="width:100%;">
                        <input matInput type="number" placeholder="Skill Value" [(ngModel)]="skill.value" min="0" max="100">
                        
                                            <mat-hint align="start"><strong>Enter value between 1 to 100 %</strong> </mat-hint>
                                            <mat-error *ngIf="skill.value>10">Please enter value between 1 to 100%</mat-error>
                        
                    </mat-form-field>
                  </div>  
                    <div>
                          
                          <button (click)="save(skill);" mat-raised-button color="primary">Save</button>
                       
  
                    </div>

    </div>
  </div>
  </div>
        <div [@stateAnimation]="addNew"  style="width:100%;" *ngIf="addNew">
            
                        <form  style="width:100%;" (ngSubmit)="onNewData(f.value)" novalidate #f="ngForm">
                            <div> 
                    <mat-form-field  style="width:100%;">
                            <input [autoFocus]=true  name="skillName" matInput placeholder="Skill Name" ngModel>
                          </mat-form-field>
                        </div> 
                        <div>
                          <mat-form-field  style="width:100%;">
                           
                            <input name="skillValue" matInput type="number" placeholder="Skill Value"ngModel min="0" max="10">
                            
                                                <mat-hint align="start"><strong>Enter value between 1 to 10</strong> </mat-hint>
                                        
                          </mat-form-field>
                        </div>  
                          <div>
                                
                                <button type="submit" mat-raised-button color="primary">Add</button>
                                <button (click)="cancelForm();" mat-raised-button>Cancel</button>
        
                          </div>
                        </form >
                      </div>