.action {
    cursor:pointer;
   float:right;
   padding:0 5px 0 0; 
    .material-icons{
      font-weight: 600;
    }
    }
 .inline-layout{
        display: inline-block;
        width: 100%;
      }