// component css goes here
.A4 {
    background: white;
    width: 210mm;
    height: 295mm;
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    box-sizing: border-box;
    font-size: inherit;
  }
  
  @media print {
    .page-break {
      display: block;
      page-break-before: always;
    }
    size: A4 portrait;
  }
  
  @media print {
    body {
      margin: 0;
      padding: 0;
    }
    .A4 {
      box-shadow: none;
      margin: 0;
      width: auto;
      height: auto;
    }
    .noprint {
      display: none;
    }
    .enable-print {
      display: block;
    }
  }
  