<!--component html goes here -->
<div  *ngIf="showContent">
        <div  class="stepper" *ngIf="timeLineDataSet" >
                <div [@timelineListAnimation]="timeLineDataSet.length">
                <div  *ngFor="let timeLineData of timeLineDataSet; let i=index"  wrapperDirective (onHover) ="onHoverTimeLine($event,timeLineData)" class="step" >
                   
                            <div *ngIf="!timeLineData.isEdit" [@stateAnimation]="timeLineData.isEdit" >
                                <div [ngStyle]="{'background':pageSettings.colorTheme,'color':pageSettings.colorTheme,'font-size':pageSettings.contentFontSize+'px','font-family':pageSettings.contentFontStyle?pageSettings.contentFontStyle:'inherit'}"  class="circle" [attr.data-date]="getTimeLineDescData(timeLineData)"></div>
                                <div [ngStyle]="{'border-left':'5px solid '+pageSettings.colorTheme}" class="line"></div>
                            </div>
                            <div *ngIf="!timeLineData.isEdit" [@stateAnimation]="timeLineData.isEdit" >
                                <div [ngStyle]="{'color':pageSettings.colorTheme,'font-size':pageSettings.contentFontSize+'px','font-family':pageSettings.contentFontStyle?pageSettings.contentFontStyle:'inherit'}" class="title">{{timeLineData.title.toUpperCase( )}}</div>
                                
                                <div [ngStyle]="{'font-size':pageSettings.contentFontSize+'px','font-family':pageSettings.contentFontStyle?pageSettings.contentFontStyle:'inherit'}" class="body"      [innerHtml]="timeLineData.desc| noSanitize">
                                </div>
                                
                                <div *ngIf="!timeLineData.isEdit" class="timeline-inline-layout">
                                        <div  *ngIf="timeLineData.showActions" class="action" >
                                                <i  matTooltip="Click to delete" (click)="onDeleteClicked(timeLineData)" class="material-icons md-18">delete</i>
                                              </div>
                                             <!-- <div *ngIf="timeLineData.showActions" class="action" >
                                               <i (click)="onSettingsClicked(timeLineData)" class="material-icons md-18">settings</i>
                                             </div>
                                        -->
                                             <div *ngIf="timeLineData.showActions" class="action" >
                                              <i  matTooltip="Click to add new" (click)="onAddNew(timeLineData)" class="material-icons md-18">add</i>
                                            </div>
                                 
                                              <div *ngIf="timeLineData.showActions" class="action" >
                                                     <i  matTooltip="Click to edit" (click)="onEditClicked(timeLineData)" class="material-icons md-18">edit</i>
                                                   </div>
                                    </div>
                            </div>
                       
                        </div>
                </div>
                    </div>
                </div>
                    <div  [@stateAnimation]="addNew" *ngIf="addNew" style="width:100%;">
                            <!-- ADD NEW TIME LINE -->
                                        <form  style="width:100%;" (ngSubmit)="onNewData(f.value)" novalidate #f="ngForm">
                                            <div> 
                                    <mat-form-field  style="width:100%;">
                                            <input [autoFocus]="needsFocus" name="title" matInput placeholder="Title" ngModel>
                                          </mat-form-field>
                                        </div>
                                        <div>
                                                <mat-form-field  style="width:100%;">
                                                        <input name="startDate"  matInput [matDatepicker]="startpicker" placeholder="Start Date" ngModel>
                                                        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                                                        <mat-datepicker #startpicker startView="year"></mat-datepicker>
                                                      </mat-form-field>
                                            </div> 
                                            <div>
                                                    <mat-form-field  style="width:100%;">
                                                            <input [disabled]="isNewTimeTillToday" name="endDate"  matInput [matDatepicker]="endpicker" placeholder="End Date" ngModel>
                                                            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                                                            <mat-datepicker #endpicker startView="year"></mat-datepicker>
                                                          </mat-form-field>
                                                </div> 
                                                <div>
                                                        
                                                                          <mat-slide-toggle name="tillToday" [(ngModel)]="isNewTimeTillToday">Till Present</mat-slide-toggle>
                                                               
                                                      </div> 
                                        <div>
                                         
                                                        <div style="width:100%" class="summernote" #descTextArea [innerHTML]="'Add your description'" placeholder="TimeLine desc">
                                                        </div>
        
                                         
                                        </div>  
                                          <div>
                                                
                                                <button type="submit" mat-raised-button color="primary">Add</button>
                                                <button (click)="cancelForm();" mat-raised-button>Cancel</button>
                        
                                          </div>
                                        </form >
                            </div>
                    <div >
                            <!-- EDIT THE EXISTING  TIME LINE -->
                            <div   *ngFor="let timeLineData of timeLineDataSet; let i=index"  >
                            <div [@stateAnimation]="timeLineData.isEdit" *ngIf="timeLineData.isEdit && !isDbClick" style="width:100%;">
                                    <!-- ADD NEW TIME LINE -->
                                               
                                                    <div> 
                                            <mat-form-field  style="width:100%;">
                                                    <input [autoFocus]="needsFocus" name="title" matInput placeholder="Title"  [(ngModel)]="timeLineData.title">
                                                  </mat-form-field>
                                                </div>
                                                <div>
                                                        <mat-form-field  style="width:100%;">
                                                                <input name="startDate"  matInput [matDatepicker]="startpicker" placeholder="Start Date" (ngModelChange)="startDateChange(timeLineData,$event)" [ngModel]="getStartTime(timeLineData)" >
                                                                <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                                                                <mat-datepicker #startpicker startView="year"></mat-datepicker>
                                                              </mat-form-field>
                                                    </div> 
                                                    <div>
                                                            <mat-form-field  style="width:100%;">
                                                                    <input  [disabled]="timeLineData.isTillPresent" name="endDate"  matInput [matDatepicker]="endpicker" placeholder="End Date"  (ngModelChange)="endDateChange(timeLineData,$event)"  [ngModel]="getEndTime(timeLineData)">
                                                                    <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                                                                    <mat-datepicker #endpicker startView="year"></mat-datepicker>
                                                                  </mat-form-field>
                                                        </div> 
                                                        <div>
                                                                
                                                                                  <mat-slide-toggle [checked]="timeLineData.isTillPresent" (change)="onEndTImeChange(timeLineData,$event)">Till Present</mat-slide-toggle>
                                                                       
                                                              </div> 
                                                <div>
                                               
                                                                <div class="summernote" style="width:100%" #descTextArea  [innerHTML]="timeLineData.desc| noSanitize" placeholder="TimeLine desc"></div>
                                                 
                                                </div>  
                                                  <div>
                                                        
                                                        <button (click)="editComplete(timeLineData)" mat-raised-button color="primary">Done</button>
                                                        <button (click)="cancelTimeLineEdit(timeLineData);" mat-raised-button>Cancel</button>
                                
                                                  </div>
                                              
                                    </div>
        
                 </div>
                </div>