// component css goes here
// component css goes here
::ng-deep.mat-step-icon {
    background-color: #00A9E0 !important;
    height:34px !important;
    width:34px  !important;
}
::ng-deep.mat-step-icon-not-touched {
    height:34px !important;
    width:34px  !important;
}
::ng-deep.mat-vertical-content-container {
    margin-left: 60px !important;
}
::ng-deep.mat-stepper-vertical-line::before{
    border-left-color: #00A9E0 !important;
    top:-5px !important;
    bottom: -5px !important;
}

 .step { 
	position: relative; 
	min-height: 32px; 
	padding: 24px;
}
 .step:hover {
	background: #F6F6F6;
}
 .step > div:first-child { 
	position: static; height: 0; 
}
 .step > div:last-child { 
	margin-left: 32px; 
	padding-left: 16px; 
	min-height: 24px;
}
 .circle { 
	background: #00A9E0; 
	width:25px; 
	height: 25px; 
	line-height: 32px; 
	border-radius: 50%; 
	position: relative; 
	
    text-align: center; 
    position: relative;
    z-index: 1;
}
.circle:before {
    position: absolute;
    right: 7px;
    top: 7px;
    left: 7px;
    bottom: 7px;
    content: '';
    background: #fff;
    border-radius: 50%;
    z-index: -1;
}
.circle:after {
    position: absolute;
        left: -150px;
        color: inherit;
        content: attr(data-date);
        word-wrap: break-word;
        font-style: italic;
       
       margin-right: 10px;
       right:30px;
       white-space: pre-wrap;
        /*  font-weight: 100;*/
        
        
       
}
.stepper {
    padding-left:170px;
}
 .line { 
	position: absolute;
    border-left: 3px solid #00A9E0;
    left: 35px;
    bottom: -25px;
    top: 45px;
    z-index: 1;
}
.stepper .step:last-child .line { 
	display: none !important; 
}
 .title { 
	line-height: 32px; 
	font-weight: 500; 
}
 .body {    

    padding-top: 8px;
}
 .description {
	line-height: 0.1;

    padding-bottom: 24px;
    color: #989898;
}
/** Horizontal **/


.stepper .step.inactive .title{
	color: #C9C9C9;
	font-weight: 400;
}
.stepper .step.inactive .body{
    display: none;
}
.stepper .step.inactive .circle{
    background-color: #9e9e9e;
}
.inline-layout{
	display: inline-block !important;
	width: 100%;
  }
  .action {
    cursor:pointer;
   float:right;
   padding:-10px 5px 0 0; 
    .material-icons{
      font-weight: 600;
    }
    }