// component css goes here
.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
    color:inherit;
    
  }
  .contact-info {
    word-wrap: break-word !important;
    color:inherit;
   
  }
  .contact-inline-layout{
    display: inline-block !important;
    width: 100%;
    }
    .action {
      cursor:pointer;
     float:right;
   
      .material-icons{
        font-weight: 600;
      }
      }