<!--component html goes here -->
<div [@listAnimation]="contactTypes.length"  wrapperDirective (onHover)="onHoverContact($event)"  *ngIf="!edit&& showContent">
  
   
 
   
   
    
           
        <div   style="padding-top:5px" *ngFor="let contact of contactTypes">
        
          
            <div *ngIf="!contact.isEdit" [ngStyle]="{'font-size':pageSettings.contentFontSize+'px','font-family':pageSettings.contentFontStyle?pageSettings.contentFontStyle:'inherit'}" [@stateAnimation]="contact.isEdit" class="contact-info"  >
            
                   
                  <i   [className]="contact.icon"></i> 
                
                 <div><span >&nbsp;&nbsp;{{contact.contactType}}</span></div> 
                  <div style=" white-space: normal !important;padding-left: 10px;" >{{contact.value}}</div> 
            
                

                    <mat-divider></mat-divider>
              </div>
             
              </div>
              <i *ngIf="showActions" matTooltip="Click to add new" (click)="onAddNew()" class="material-icons md-18 action">add</i>
              
          
              
                       <i *ngIf="showActions" matTooltip="Click to edit" (click)="onEditClicked()" class="material-icons md-18 action">edit</i>
                   
           
            
                      </div>        
              <div [@stateAnimation]="addNew"  *ngIf="addNew">
                  
                              <form (ngSubmit)="onNewData(f.value)" novalidate #f="ngForm">
                                  <div> 
                          <mat-form-field>
                                  <input [autoFocus]=true name="contactName" matInput placeholder="Title" ngModel>
                                </mat-form-field>
                              </div> 
                              <div>
                                <mat-form-field>
                                  <input name="contactValue"  matInput placeholder="Details" ngModel >
                                </mat-form-field>
                              </div>  
                                <div>
                                      
                                      <button type="submit" mat-raised-button color="primary">Add</button>
                                      <button color="primary" (click)="cancelForm();" mat-raised-button>Cancel</button>
              
                                </div>
                              </form >
          
                             
                              
                  </div>
                  <div *ngIf="edit">
                      
                       <div [@stateAnimation]="edit">
                          <div *ngFor="let contact of contactTypes">
                            <mat-form-field *ngIf="contact.typeOfUI==0">
                              <input name="contactName" matInput placeholder={{contact.contactType}} [(ngModel)]="contact.value">
                      
                            </mat-form-field>
                        
                          <mat-form-field *ngIf="contact.typeOfUI==1">
                              <textarea name="contactName" matInput placeholder={{contact.contactType}} [(ngModel)]="contact.value"></textarea>
                      
                            </mat-form-field>

                            <span style="cursor:pointer;">
                              <i matTooltip="Click to delete" (click)="onDeleteClicked(contact)" class="material-icons md-18">delete</i>
                            </span>
                      
                          </div>
                      
                      
                          <div>
                      
                            <button (click)="save();" mat-raised-button color="primary">Ok</button>
                      
                      
                          </div>
                        </div>

     
   
      