<div class="login-form">
  <div>
  <i class="material-icons" id="lock" >lock</i>
</div>
    <span class="error" *ngIf="error">{{ error }}</span>

  <button mat-raised-button (click)="loginFb()"  id="fb">Login With Facebook</button><br>
  <button mat-raised-button (click)="loginGoogle()" id="google">Login With Google</button>
 <!-- <button mat-raised-button routerLink="/login-email" id="email">Email</button> -->

  <!--<a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a> -->
</div>