<!--component html goes here -->
<!--component html goes here -->
<div  class="row"  *ngIf="skills">
        <div   *ngFor="let skill of skills">
            
       
              <my-wrapper  (onAction)="onAction($event,skill);" [config]="skill">
            
              <div *ngIf="!skill.isEdit"  class="col">
                  <span 
                  
                  [ngStyle]="{'font-size':pageSettings.contentFontSize,'font-family':pageSettings.contentFontStyle?pageSettings.contentFontStyle:'inherit'}" 
                  style="display:inline-block; min-width:100px; max-width:200px; ">{{skill.name}} </span>  
                  <div  
                  [ngStyle]="{'color':pageSettings.fontColor?pageSettings.fontColor:fontColor,'font-size':pageSettings.contentFontSize}"

                  [className]="choosenData" style="display:inline-block;" *ngFor="let i of [1,2,3,4,5]"  >
                      <i  style="color:inherit;font-size: 30px" *ngIf="i<=skill.value" class="ion-ios-star"></i>
                     <i  style="color:inherit;font-size: 30px" *ngIf="i>skill.value" class="ion-ios-star-outline"></i>
                     </div>
          
          </div> 
            </my-wrapper> 
        
          </div>
            
            </div>
            <div *ngFor="let skill of skills"  class="col-12">
              <ng-container  *ngIf="skill.isEdit">
                <div>
                    <mat-form-field  style="width:100%;">
                            <input matInput placeholder="Skill Name"  [(ngModel)]="skill.name">
                          </mat-form-field>
                        </div> 
                        <div>
                          <mat-form-field  style="width:100%;">
                            <input matInput placeholder="Skill Value"  [(ngModel)]="skill.value">
                          </mat-form-field>
                        </div>  
                          <div>
                                
                                <button (click)="save(skill);" mat-raised-button color="primary">Save</button>
                                <button (click)="cancel(skill);" mat-raised-button>Cancel</button>
        
                          </div>
                        </ng-container>
            </div >
        
           
        
            <div *ngIf="addNew">
                
                            <form (ngSubmit)="onNewData(f.value)" novalidate #f="ngForm">
                                <div> 
                        <mat-form-field  style="width:100%;">
                                <input name="skillName" matInput placeholder="Skill Name" ngModel>
                              </mat-form-field>
                            </div> 
                            <div>
                              <mat-form-field  style="width:100%;">
                                <input name="skillValue"  matInput placeholder="Skill Value" ngModel >
                              </mat-form-field>
                            </div>  
                              <div>
                                    
                                    <button type="submit" mat-raised-button color="primary">Add</button>
                                    <button (click)="cancelForm();" mat-raised-button>Cancel</button>
            
                              </div>
                            </form >
        
                           
                            
                </div>
