// component css goes here
// component css goes here
.resume-page {
    
      transform: translate3d(0,0,0);
      transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    }
    .example-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    ::ng-deep.mat-drawer {
      background-color: #424242;
      color:#000;
      /* color: white; */
  }
    .example-is-mobile .example-toolbar {
      position: fixed;
      /* Make sure the toolbar will stay on top of the content as it scrolls past. */
      z-index: 2;
    }
    
    h1.example-app-name {
      margin-left: 8px;
    }
    .side-navigation{
     
     
      box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
      -moz-transition: margin-left 0.3s;
      -o-transition: margin-left 0.3s;
      -webkit-transition: margin-left 0.3s;
      transition: margin-left 0.3s;

      box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow:  5px 5px 20px 0px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.7);
      background-color: #d8d8d8;
      background-color: linear-gradient(45deg, #d8d8d8 0%, #ececec 35%);

    }
    .example-sidenav-container {
      /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
      flex: 1;
     
    }
    
    .example-is-mobile .example-sidenav-container {
      /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
      flex: 1 0 auto;
    }
    #mainNav {
        background-color: #000;
    }
  
    .side-bar-menu {
       
        
    }
  
  
   
    ul {
      list-style-type: none;
    
      
  }
  .sidebar-nav-item {
      
      
       color: white;
       background-position: 30px center;
       background-repeat: no-repeat;
       background-size: auto 24px;
       box-shadow: 0 2px 4px transparent;
     
     
       -webkit-transition: all 0.25s ease-in-out;
       transition: all 0.25s ease-in-out;
       -webkit-animation-fill-mode: forwards;
               animation-fill-mode: forwards;
      
       height:30px;
    }
    .user-welcome {
     
       font-style: italic;
   }
   li{
       cursor: pointer !important;
   }
  
    .menu-icons{
      font-size: 35px !important;
    }
    
   
    
    
    @-webkit-keyframes nav-item-fade-in {
      to {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
      }
    }
    
    page {
      background: white;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    page[size="A4"] {  
      width: 21cm;
      height: 29.7cm; 
    }
    page[size="A4"][layout="portrait"] {
      width: 29.7cm;
      height: 21cm;  
    }
    @media print {
      body, page {
        margin: 0;
        box-shadow: 0;
      }
    }
    @keyframes nav-item-fade-in {
      to {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
      }
    }
    