
.action {
    cursor:pointer;
   display: block;
    text-align: right;
   
   padding:5px 5px 0 0; 
    .material-icons{
      font-weight: 600;
      color:inherit;
    }
    }
// component css goes here
