<!--component html goes here -->
<div *ngIf="content.description">
<div *ngIf="!isTextEdit">
        <div   [ngStyle]="{'font-size':pageSettings.contentFontSize+'px','font-family':pageSettings.contentFontStyle?pageSettings.contentFontStyle:'inherit'}"  matTooltip="Double click on the text content to edit the text!" textEditDirective (onDoubleClick)="toggleTextEdit()"  [innerHTML]="content.description| noSanitize"></div>
    </div>

</div>
<div *ngIf="content.description">
<div *ngIf="isTextEdit" >

   <!-- <textarea style="width:100%" #myTextArea name="textInputBox" [value]="content.description" placeholder="Add Description">
                                        </textarea>
                                    -->
                                        <div #myTextArea class="summernote" [innerHTML]="content.description"></div>

    <button  mat-raised-button color="primary"  (click)="toggleTextEdit()" >Done!</button>

</div>
</div>
