@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.resume-content {
  max-width: 80%;
  margin: auto;
  background-color: #fff;
}
.example-spacer {
  flex: 1 auto auto;
}
#mainNav {
 
}

@media print {
    .resume-content {
        max-width: 100%;
        margin: auto;
        background-color: #fff;
      } 
}