<!--component html goes here -->


<div *ngIf="showContent">

<div class="component-content" *ngIf="timeLineDataSet" [@timelineListAnimation]="timeLineDataSet.length">
        <div wrapperDirective (onHover) ="onHoverTimeLine($event,timeLineData)" *ngFor="let timeLineData of timeLineDataSet; let i=index"   >
                <div *ngIf="!timeLineData.isEdit" [@stateAnimation]="timeLineData.isEdit" class="timeline-inline-layout">
                        <div  *ngIf="timeLineData.showActions" class="action" >
                                <i   matTooltip="Click to delete" (click)="onDeleteClicked(timeLineData)" class="material-icons md-18">delete</i>
                              </div>
                           <!--   <div *ngIf="timeLineData.showActions" class="action" >
                               <i (click)="onSettingsClicked(timeLineData)" class="material-icons md-18">settings</i>
                             </div>
                        -->
                             <div *ngIf="timeLineData.showActions" class="action" >
                              <i  matTooltip="Click to add new" (click)="onAddNew(timeLineData)" class="material-icons md-18">add</i>
                            </div>
                 
                              <div *ngIf="timeLineData.showActions" class="action" >
                                     <i  matTooltip="Click to edit" (click)="onEditClicked(timeLineData)" class="material-icons md-18">edit</i>
                                   </div>
                    </div>
                <article *ngIf="!timeLineData.isEdit" [@stateAnimation]="timeLineData.isEdit">
                        <div [ngStyle]="{'color':pageSettings.colorTheme,'font-size':pageSettings.contentFontSize+'px','font-family':pageSettings.contentFontStyle?pageSettings.contentFontStyle:'inherit'}"  class="title">{{timeLineData.title}}</div>
                        <p [ngStyle]="{'color':pageSettings.colorTheme,'font-size':pageSettings.contentFontSize+'px','font-family':pageSettings.contentFontStyle?pageSettings.contentFontStyle:'inherit'}" class="timeline-date"> {{timeLineData.startTime}} - <span *ngIf="timeLineData.endTime"> {{timeLineData.endTime}}</span> <span *ngIf="timeLineData.isTillPresent">Till Present</span></p>
                        <p [ngStyle]="{'font-size':pageSettings.contentFontSize+'px','font-family':pageSettings.contentFontStyle?pageSettings.contentFontStyle:'inherit'}"  [innerHtml]="timeLineData.desc |noSanitize"></p>
                        
                    </article>
                    
                   
                    
                            
                
                   
               
                </div>
            
            </div>
        </div>
            <div *ngIf="addNew"  [@stateAnimation]="addNew" style="width:100%;">
                    <!-- ADD NEW TIME LINE -->
                                <form  style="width:100%;" (ngSubmit)="onNewData(f.value)" novalidate #f="ngForm">
                                    <div> 
                            <mat-form-field  style="width:100%;">
                                    <input [autoFocus]="needsFocus" name="title" matInput placeholder="Title" ngModel>
                                  </mat-form-field>
                                </div>
                                <div>
                                        <mat-form-field  style="width:100%;">
                                                <input name="startDate"  matInput [matDatepicker]="startpicker" placeholder="Start Date" ngModel>
                                                <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                                                <mat-datepicker #startpicker startView="year" ></mat-datepicker>
                                              </mat-form-field>
                                    </div> 
                                    <div>
                                            <mat-form-field  style="width:100%;">
                                                    <input [disabled]="isNewTimeTillToday" name="endDate"  matInput [matDatepicker]="endpicker" placeholder="End Date" ngModel>
                                                    <mat-datepicker-toggle matSuffix [for]="endpicker" ></mat-datepicker-toggle>
                                                    <mat-datepicker #endpicker startView="year"></mat-datepicker>
                                                  </mat-form-field>
                                        </div> 
                                        <div>
                                                        
                                                                          <mat-slide-toggle name="tillToday" [(ngModel)]="isNewTimeTillToday">Till Present</mat-slide-toggle>
                                                               
                                                      </div> 
                                <div><div class="summernote" style="width:100%" #descTextArea   placeholder="TimeLine desc"></div>
                                        
                                       
                                </div>  
                                  <div>
                                        
                                        <button type="submit" mat-raised-button color="primary">Add</button>
                                        <button (click)="cancelForm();" mat-raised-button>Cancel</button>
                
                                  </div>
                                </form >
                    </div>
            <div >
                    <!-- EDIT THE EXISTING  TIME LINE -->
                    <div *ngFor="let timeLineData of timeLineDataSet; let i=index"  >
                    <div [@stateAnimation]="timeLineData.isEdit" *ngIf="timeLineData.isEdit && !isDbClick" style="width:100%;">
                            <!-- ADD NEW TIME LINE -->
                                       
                                            <div> 
                                    <mat-form-field  style="width:100%;">
                                            <input [autoFocus]="needsFocus"name="title" matInput placeholder="Title"  [(ngModel)]="timeLineData.title">
                                          </mat-form-field>
                                        </div>
                                        <div>
                                                <mat-form-field  style="width:100%;">
                                                        <input name="startDate"  matInput [matDatepicker]="startpicker" placeholder="Start Date" (ngModelChange)="startDateChange(timeLineData,$event)" [ngModel]="getStartTime(timeLineData)" >
                                                        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                                                        <mat-datepicker #startpicker startView="year"></mat-datepicker>
                                                      </mat-form-field>
                                            </div> 
                                            <div>
                                                    <mat-form-field  style="width:100%;">
                                                            <input [disabled]="timeLineData.isTillPresent" name="endDate"  matInput [matDatepicker]="endpicker" placeholder="End Date"  (ngModelChange)="endDateChange(timeLineData,$event)"  [ngModel]="getEndTime(timeLineData)">
                                                            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                                                            <mat-datepicker #endpicker startView="year"></mat-datepicker>
                                                          </mat-form-field>
                                                </div> 
                                                <div>
                                                                
                                                                                  <mat-slide-toggle [checked]="timeLineData.isTillPresent" (change)="onEndTImeChange(timeLineData,$event)">Till Present</mat-slide-toggle>
                                                                       
                                                              </div> 
                                        <div>
                                                <div class="summernote" style="width:100%" #descTextArea  [innerHTML]="timeLineData.desc| noSanitize" placeholder="TimeLine desc"></div>
                                      
                                          <div>
                                                
                                                <button (click)="editComplete(timeLineData)" mat-raised-button color="primary">Done</button>
                                                <button (click)="cancelTimeLineEdit(timeLineData);" mat-raised-button>Cancel</button>
                        
                                          </div>
                                      
                            </div>

         </div>
        </div>



<!-- NEW TIMELINE CODE -->
<!--
<article>
        <h2>Job Title at Company</h2>
        <p class="timeline-date">April 2011 - Present</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
    </article>
    
    <article>
        <h2>Job Title at Company</h2>
        <p class="timeline-date">Janruary 2007 - March 2011</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
    </article>
    
    <article>
        <h2>Job Title at Company</h2>
        <p class="timeline-date">October 2004 - December 2006</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
    </article>
-->