<!--component html goes here -->
<div >
    <section id="timeline" class="timeline-outer">
      <div  id="content" >
        <div >
          <div >
          
            <ul class="timeline">
              <li class="event" data-date="2015/Present">
                <h3>Management and Entreprenurship (MSc)</h3>
                <p>
                  This September 2015 I will begin an MSc in Management and Entrepreneurship at University of Sussex, to broaden my knowledge and gain skills necessary for my future in business and management.
                </p>
              </li>
              <li class="event" data-date="2015/Present">
                <h3>Claromentis</h3>
                <p>
                  Claromentis is an intranet software provider company. I started working at the Brighton office as a Marketing Designer while I was still attending my final year at the University of Sussex. My primary responsibilities included creating corporate identity
                  for the company; I re-designed their website, and have created marketing materials such as brochures.
                </p>
                <p>Since graduating from university, I have also undertaken responsibilities for designing a product for the company. The roles I have been given have provided the perfect opportunity to implement the skills I have gained throughout my higher
                  education, as well as experiencing the running of a successful business.</p>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </section>
   
    <br/>
  </div>