<!--component html goes here -->




        <ng-template *ngFor="let card of cardsList"  #cardTemplates   >
            
                <div dropDirective 
                
                   [dragDirective]="card.index"  (startDrag)="onCardDrag($event,card.index)" 
                   (dragleaveEvent)="onDragEnd($event,card.index)" (dropEvent)="onCardDrop($event,card)">
                     <div style="position: relative; "  >
                         
                     <div style="margin-left: 10px; margin-top: 10px;margin-right:10px;" >
                            <button mat-fab [ngStyle]="{ 'position': 'absolute', 'top': '-10px','z-index':'999', 'background':(card.headerBackGround==null)? '#00A9E0':card.headerBackGround, 'left':'0px',
                            'font-size':pageSettings.headerFontSize+'px','font-family':pageSettings.headerFontStyle,'background':(pageSettings.colorTheme==null)?'#00A9E0':pageSettings.colorTheme
                          }"><i class="material-icons">account_circle</i></button> 
                             
                             <div   wrapperDirective (onHover) ="onHoverSection($event,card)" matTooltip="Double click on the text content to edit the text!"  [ngStyle]="{'background':(card.headerBackGround==null)? '#00A9E0':card.headerBackGround ,'height': '40px','color':(card.headerFontColor==null)? '#fff':card.headerFontColor,
                             
                             'font-size':pageSettings.headerFontSize+'px',
                             'font-family':pageSettings.headerFontStyle,
                             'background':(pageSettings.colorTheme==null)?'#00A9E0':pageSettings.colorTheme
                            }">
                               <div *ngIf="card.showConfig" class="action" >
                                 <i  (click)="onCardEdit($event,card)" class="material-icons md-18">edit</i>
                              
                                 </div>
                               <div   class="cardHeader" >{{card.title}} 
                                
                             </div>
             
                           </div>
                             <mat-card class="transparent-card">
                               <mat-card-header> </mat-card-header>
                             <ng-container dynamicLoadComponent [card]="card"></ng-container>
                             </mat-card>
                           </div>
                         </div>
                         <div style="height:10px"></div>
                     </div>
    
    
     
    
</ng-template>



 <!-- NEW TEMPLATE CODE STARTS--> 

     <div class="row template1-theme" style="padding:0px!important;  min-height:100vh; ">
     
       <div class='leftsideDiv' style="width:30%;background:#ddd;height: auto;">
          <div wrapperDirective (onHover) ="onUserPhotoHover($event)">
              <div *ngIf="photoHover"  class="action" >
                  <i  style="color:black" matTooltip="Click to delete" (click)="onPhotoHide()" class="material-icons md-18">clear</i>
                </div>
         <div *ngIf="showPhoto" matTooltip="Click to add your picture!" class="centered" [ngStyle]="{'background-image':'url('+url+')', 'background-repeat': 'no-repeat','background-size': 'cover'}">
     
           <input (change)="readUrl($event)" type="file" style="opacity: 0.0; position: relative; top:0; left: 0; bottom: 0; right:0; width: 100%; height:100%;"
           />
         </div>
       
        </div>


         <ng-container  *ngFor="let card of cardsList;let i=index">
                <ng-container  *ngIf="getCardTemplate(i) && card.cardPlacing=='left'">
                        <template [ngTemplateOutlet]="getCardTemplate(i)"></template>
                    </ng-container>
                   </ng-container>
                    
         
     
       </div>
    
       <div style="width:69%;  height:100%; " class="rightsideDiv">
           <ng-container  *ngFor="let card of cardsList;let i=index">
             <ng-container  *ngIf="getCardTemplate(i) && card.cardPlacing=='right'">
                     <template [ngTemplateOutlet]="getCardTemplate(i)"></template>
                 </ng-container>
                </ng-container>
                 
     
       </div>
 
     </div>
