// component css goes here
@import '../../../../_variable';
.mat-chip {
    width:100%;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
}

// component css goes here
.component-content {
    padding-top: 10px;
  }
$progress-background:#ff00ff;
.myClass{
   
}

@each $name, $value in $materialColors {
    .#{$name} {
       $progress-background: $value;
     
       .mat-chip {
        width:100%;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
        background-color: $progress-background !important;
    }
     
   
      }
    }
  
