<!--component html goes here -->
<!--  <div  style="background: #000;margin:1px;"  ><img style="width:200px;height:80px;cursor:pointer" src="assets/img/logo.png" >
 <i (click)="closeSideNav($event);" style="float:right;color:#fff;cursor:pointer;font-size:40px;" class="material-icons">clear</i>
</div>-->

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Page Settings
      </mat-panel-title>

    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>
             Color
          </mat-panel-title>

        </mat-expansion-panel-header>
        <ng-container *ngFor="let material of materialColors">

          <div style="padding-top:10px;">{{material.color}}</div>
          <hr>
          <mat-grid-list cols="4" rowHeight="2:1">
            <ng-container *ngFor="let variation of material.variations">
              <mat-grid-tile [ngStyle]="{
          'cursor':'pointer',
          'color':material.fontColor,
          'background-color': variation.hex
         
        }" (click)="onColorSelect(material,variation);">
                <i [ngStyle]="{'color':variation.fontColor}" *ngIf="variation.hex==pageSettings.colorTheme" class="material-icons">done</i>
              </mat-grid-tile>

            </ng-container>
          </mat-grid-list>
        </ng-container>

      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Font
            </mat-panel-title>
      
          </mat-expansion-panel-header>
         
           
      
             
          <div style="padding:10px">
              <mat-form-field style="width:100%;">
                <mat-select (change)="onHeaderFontChange($event)" [value]="pageSettings.headerFontStyle" name="headerFontFamily" placeholder="Section header font style">
                  <ng-container *ngFor="let font of fontFamilies">
                    <mat-option [value]="font">
                      <span [ngStyle]="{'font-family' : font}"> {{font}} </span>
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
      
            </div>
            <div style="padding:10px">
              <mat-form-field style="width:100%;">
                <mat-select (change)="onContentFontChange($event)" [value]="pageSettings.contentFontStyle" name="contentFontFamily" placeholder="content font style">
                  <ng-container *ngFor="let font of fontFamilies">
                    <mat-option [value]="font">
                      <span [ngStyle]="{'font-family' : font}"> {{font}} </span>
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
      
            </div>
            <div>
              <div style="padding:10px">
                 Section header font Size
              </div>
              <mat-slider color='primary'  style="width:100%;" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]=true
                [ngModel]="pageSettings.headerFontSize" (change)="onHeaderFontSizeChange($event)" [vertical]="vertical">
              </mat-slider>
            </div>
      
            <div>
              <div style="padding:10px">
                 content font Size
              </div>
              <mat-slider color='primary'  style="width:100%;" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]=true
                [ngModel]="pageSettings.contentFontSize" (change)="onContentFontSizeChange($event)" [vertical]="vertical">
              </mat-slider>
            </div>
      
            </mat-expansion-panel>


      
    </mat-accordion>

  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Sections

      </mat-panel-title>

    </mat-expansion-panel-header>
    <ng-template  matExpansionPanelContent >
    <hr>
    
    
    <mat-accordion>
     <div *ngFor="let section of templateSections">
        <div style="display: flex;padding-top:10px; align-items: center;">


          <div  *ngIf="section.component.length==1" [ngStyle]= "{'color':section.isSelected?'#2196F3':'inherit'}" (click)="showOrHideSectionComp(section)" style=" width:60%;padding-left:20px;vertical-align: -webkit-baseline-middle; vertical-align: middle;word-wrap: break-word; cursor: pointer">{{section.name}}</div>
          <div *ngIf="section.component.length==1" style=" width:40%; padding-right:10px; text-align: right; cursor: pointer">

           
            <mat-slide-toggle color='primary' [checked]="section.isSelected" (change)="addSection(section,$event)"></mat-slide-toggle>

          </div>
         
          <div style="clear: both"></div>
        </div>
       


<div *ngIf="section.component.length>1">
        <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <div   [ngStyle]= "{'color':section.isSelected?'#2196F3':'inherit'}"  style=" vertical-align: -webkit-baseline-middle; vertical-align: middle;word-wrap: break-word; cursor: pointer">{{section.name}}</div>
              </mat-panel-title>
        
            </mat-expansion-panel-header>
           
             
                
                          <ng-container *ngFor="let component of section.component">
                            <div style=" display: flex;padding-top:5px; align-items: center; cursor: pointer">
                
                              <div  style=" width:70%;vertical-align: -webkit-baseline-middle; vertical-align: middle;word-wrap: break-word; cursor: pointer">{{component.name}}</div>
                
                              <div style=" width:30%; text-align: right; cursor: pointer">
                                
                                <mat-slide-toggle color='primary'  [checked]="component.isSelected" (change)="addSectionComponent(section,component,$event)"></mat-slide-toggle>
                              </div>
                              <div style="clear: both"></div>
                            </div>
                          </ng-container>
                   
               
            
        
              </mat-expansion-panel>
               
</div>
       
        
        
              </div>
            </mat-accordion>
    </ng-template>
  </mat-expansion-panel>
  
  


 

  <div style="padding:10px">

    <mat-slide-toggle color='primary'  [checked]="reArrangeSections" (change)="onSectionReArrange($event)">Rearrange sections</mat-slide-toggle>
  </div>
</mat-accordion>


