

<ng-template #headerTemplate>
        <div style="margin:auto;margin-top:10px;height:10px;" [ngStyle]="{'border-bottom':(pageSettings.colorTheme)?'10px solid '+pageSettings.colorTheme:'10px solid #ddd'}"></div>
        <div  [ngStyle]="{'color':(pageSettings.colorTheme)?pageSettings.colorTheme:'#444','border-bottom':(pageSettings.colorTheme)?'1px solid '+pageSettings.colorTheme:'1px solid #ddd'}">
       
        
    
    <div @explainerAnim class="center" id="name">
        <h1 class="header-title" matTooltip="Double click on the text content to edit the text!"  textEditDirective (onDoubleClick)="toggleNameEdit()"  [innerHTML]="userName| noSanitize" >Joe Bloggs</h1>
        <h2 class="header-title" matTooltip="Double click on the text content to edit the text!"   textEditDirective (onDoubleClick)="toggleDesigEdit()"  [innerHTML]="title| noSanitize"  >Job Title</h2>
        <div *ngIf="isNameEdit" >
                
                    <textarea class="summernote" style="width:100%" #titleText name="textInputBox" [(ngModel)]="userName" placeholder="Name">
                                                        </textarea>
                
                    <button  mat-raised-button color="primary"  (click)="toggleNameEdit()" >Done!</button>
                
                </div>
                <div *ngIf="isTitleEdit" >
                        
                            <textarea class="summernote" style="width:100%" #designation name="textInputBox" [(ngModel)]="title" placeholder="Description">
                                                                </textarea>
                        
                            <button  mat-raised-button color="primary"  (click)="toggleDesigEdit()" >Done!</button>
                        
                        </div>
    </div>
    <div *ngIf="headerContactTypes" id="contactDetails" >
                <header-contact [contactTypes]="headerContactTypes"></header-contact>
               </div>
   
    <div class="clear"></div>
</div>

</ng-template>

<ng-template #bodyTemplate>
        <ng-container  *ngFor="let card of cardsList;let i=index">
                <div [ngStyle]="{'cursor': (showContent==false)?'move':'default'}" [attr.data-id]="card.index" [attr.data-index]="i" >
                <dd class="clear"></dd>
                
                <dt  [@stateAnimation]="card.isEdit" *ngIf="!card.isEdit" [ngStyle]="{'font-size':pageSettings.headerFontSize+'px','font-family':pageSettings.headerFontStyle,'color':pageSettings.colorTheme}" 
               
                
                wrapperDirective (onHover) ="onHoverSection($event,card)"   [ngStyle]="{'color':(card.headerFontColor==null)? 'inherit;':card.headerFontColor}" 
        
               >
                <div  [innerHTML]="card.title">  </div>
                <div *ngIf="card.showConfig" class="action" >
                                <i  matTooltip="edit" (click)="onCardEdit($event,card)" class="material-icons md-18">edit</i>
                                <i   matTooltip="delete"  (click)="onCardDelete($event,card)" class="material-icons md-18">delete</i>
                              
                        </div>
              
            </dt>
            <dt style="padding:5px" *ngIf="card.isEdit">
                        <ng-container >
                                        <mat-form-field [@stateAnimation]="card.isEdit"  style="width:100%;">
                                                <input  name="section" matInput placeholder="Section Title" [(ngModel)]="card.title">
                                                <button  matSuffix (click)="OnEditComplete(event,card)" mat-icon-button color="primary">
                                                        <mat-icon style="font-size: 28px;" aria-label="done">done</mat-icon>
                                                      </button>
                                              </mat-form-field>
                                             
                                            </ng-container>
            </dt>
       
       
                       
        
               
                <dd  [ngStyle]="{ 'border-left': '3px solid '+pageSettings.colorTheme}">
                        <ng-container dynamicLoadComponent [card]="card" [pageSettings]="pageSettings"></ng-container>
        
                </dd>
        
                <dd class="clear"></dd>
        </div>
                   </ng-container>


</ng-template>

    <div class='top-header' style="width:21cm;margin:0 auto;" *ngIf="pageSettings.isPreviewMode" >


            <div  id="resume">
                <div class="previewHeader">
                        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
                </div>
                
                <div id="page-wrap" >
                        <dl [@listAnimation]="cardsList.length"  id="mainArea">
                                <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
                                </dl>
                                
                                <div class="clear"></div>
                        
        
                </div>
            </div>




    </div>

    
    <div *ngIf="!pageSettings.isPreviewMode" id="resume" >
            <div style="width:95%;margin:auto;margin-top:10px;height:10px;" ></div>
                <div class="main-header" [ngStyle]="{'color':(pageSettings.colorTheme)?pageSettings.colorTheme:'#444','border-bottom':(pageSettings.colorTheme)?'1px solid '+pageSettings.colorTheme:'1px solid #ddd'}">
               
                
            
                        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
        </div>
        
        <div id="page-wrap" >
                <div [@listAnimation]="cardsList.length" [dragula]="'right'" class="mainArea">
                        <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
                </div>
                        
                        <div class="clear"></div>
                

        </div>
    </div>





    