<!--component html goes here -->
<div id="page-top">
    
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container-fluid">
              <!--  <i  style="color:#fff;cursor: pointer; padding-right:25px;" (click)="homeSidenav.toggle()" class="material-icons menu-heading">menu</i> -->
              <a class="navbar-brand js-scroll-trigger" ><img style="width:200px;height:80px;cursor:pointer" src="assets/img/logo.png" /></a>
             

              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul @explainerAnim class="navbar-nav  ml-auto">
                    <li  *ngIf="!userDetails" class="nav-item">
                        <a (click)="login();" class="nav-link js-scroll-trigger" >Login</a>
                      </li>
                      
                     
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" (click)="onNavClick('themes')" >Templates</a>
                  </li>
                 
               <!--  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" >About</a>
                  </li>
                  
                
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" >Contact</a>
                  </li>
                -->
                  <li  class="nav-item">
                      <a *ngIf="userDetails" class="nav-link js-scroll-trigger user-welcome" >Welcome {{userDetails.displayName}} !</a>
                    </li>
                    <li   class="nav-item">
                        <a *ngIf="userDetails" (click)="openMyProfile();" class="nav-link js-scroll-trigger" >My profile</a>
                      </li>
                    <li class="nav-item">
                        <a  *ngIf="userDetails"  matTooltip="Click to logout" class="nav-link js-scroll-trigger" (click)="logout()"><i class="material-icons">power_settings_new</i></a>
                      </li>
                    
                </ul>
              </div>
            </div>
          </nav>   
        <header style="height:100vh;" class="masthead">
            <div class="container" style="opacity:1 !important;" >
              <div style="opacity:1 !important;"  class="intro-text">
               
                <div @titleAnimation  style="opacity:1 !important;" class="intro-heading ">Craft your smart resume</div>
                <a @buttonAnimation style="opacity:1 !important;;"  (click)="onNavClick('themes')"  class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"  >Get Started</a>
              </div>
            </div>
          </header>

          <ngx-image-gallery 
          [images]="images" 
          [conf]="conf"
          (onOpen)="galleryOpened($event)"
          (onClose)="galleryClosed()"
          (onImageClicked)="galleryImageClicked($event)"
          (onImageChange)="galleryImageChanged($event)"
          (onDelete)="deleteImage($event)"
          ></ngx-image-gallery>
